
@model TrackEmailSearch
@using EMailAdmin.BackEnd.Domain;
@using EmailAdmin.MVC.Helpers;
@using System.Web.Optimization;
@using Admin.Common.Dto.Graficos;
@using ConsultasGenerales.Dto;
@using Admin.Common.Helpers;

@{
    Layout = "API/_Layout.cshtml";
    
    List<Template> templates = ObjectManager.GetTemplateListForSelectors();
    List<CountryDTO> paises = ApplicationObjectManager.GetCountryListForSelectors();

    dynamic searchTemplate = (dynamic)TempData.Peek("TrackEmailSearch");
    int searchTemplateId = searchTemplate != null ? searchTemplate.Id : -1;
    int searchCountryCode = searchTemplate != null ? searchTemplate.CountryCode : -1;
}

@Styles.Render("~/plugins/footableStyles")
@Styles.Render("~/plugins/dataPickerStyles")   

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox">
        <div class="ibox-title">
            <h5>Busqueda</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
                @using (Ajax.BeginForm("List", "TrackEmail", new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "divTrackList",
                    HttpMethod = "POST",
                    OnBegin = "portalapi.Spinner.show",
                    OnComplete = "portalapi.Spinner.hide"
                }))
                {  
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="IdTemplate">@Resources.TrackEmail.Template</label>
                                    @Html.DropDownList("IdTemplate", templates.Select(item => new SelectListItem
                                   {
                                       Value = item.Id.ToString(),
                                       Text = item.Name,
                                       Selected = item.Id == searchTemplateId
                                   }), new { @class = "form-control" })
                            </div>
                        </div>               
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="Campania">@Resources.TrackEmail.Campania</label>
                                @Html.TextBoxFor(x => x.Campania, new { placeholder = "Campania", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="countryCode">@Resources.TrackEmail.Pais</label>
                                @Html.DropDownList("CountryCode", paises.Select(item => new SelectListItem
                           {
                               Value = item.Code.ToString(),
                               Text = item.Description_UI,
                               Selected = item.Code == searchCountryCode
                           }), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="Email">@Resources.TrackEmail.Email</label>
                                
                                 @Html.TextBoxFor(x => x.Email, new { placeholder = "Email", @class = "form-control", @type = "email" })
                             
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="Documento">@Resources.TrackEmail.Documento</label>
                                @Html.TextBoxFor(x => x.Documento, new { placeholder = "Documento", @class = "form-control" })
                            </div>
                        </div>
                    
                        
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="VoucherCode">@Resources.TrackEmail.VoucherCode</label>
                                @Html.TextBoxFor(x => x.VoucherCode, new { placeholder = "VoucherCode", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group" id="CreateFromTo">
                                <label for="CreateFrom">@Resources.TrackEmail.Creacion</label>
                               <div class="input-daterange input-group" id="datepicker">
                                    <input id="CreateFrom" name="CreateFrom" value='@DateTime.Now.ToShortDateString()' class="input-sm form-control" data-date-format="dd-mm-yyyy" />
                                    <span class="input-group-addon">@Resources.TrackLink.FechaHasta</span>
                                    <input id="CreateTo" name="CreateTo" value='@DateTime.Now.ToShortDateString()' class="input-sm form-control" data-date-format="dd-mm-yyyy" />
                                </div>
                            </div>
                        </div>                
                        <div class="col-sm-4">
                            <div class="form-group" id="OpenFrom">
                                <label for="OpenFromTo">@Resources.TrackEmail.UltimaVista</label>
                               <div class="input-daterange input-group" id="datepicker">
                                    <input id="OpenFrom" name="OpenFrom" class="input-sm form-control" data-date-format="dd-mm-yyyy" />
                                    <span class="input-group-addon">@Resources.TrackEmail.FechaHasta</span>
                                    <input id="OpenTo" name="OpenTo" class="input-sm form-control" data-date-format="dd-mm-yyyy" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label" for="Count">@Resources.TrackEmail.IdClienteUnico</label>
                                @Html.TextBoxFor(x => x.IdClienteUnico, new { placeholder = "IdClienteUnico", @class = "form-control" })
                            </div>                       
                        </div>         
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label" for="StatusOpen">@Resources.TrackEmail.Estado</label>
                                @Html.DropDownListFor(x => x.StatusOpen, EmailAdmin.MVC.Helpers.HTMLHelperExtensions.StatusOpen(), new { @class = "form-control" })
                            </div>                        
                        </div>
                         <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label" for="Count">@Resources.TrackEmail.Cantidad</label>
                                @Html.TextBoxFor(x => x.Count, new { placeholder = "Cantidad", @class = "form-control" })
                            </div>                       
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <button class="btn btn-success buttonSeparated" type="submit" style="margin-top: 20px">@Resources.Crud.Search</button>                                
                                @Ajax.ActionLink("Graficar", "Graficar", "TrackEmail",
                                new AjaxOptions()
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "divGrafico",
                                    HttpMethod = "POST",
                                    OnBegin = "portalapi.Spinner.show",
                                    OnComplete = "portalapi.Spinner.hide"
                                },
                                new {@id="btnGraficar", @class="btn btn-warning buttonSeparated", style="margin-top: 20px; display:none;" })
                            </div>
                        </div>
                    </div>
                }
        </div>
        <div id="divTrackList"></div>
        <div id="divTrackFechas"></div>
    </div>
</div>

@Scripts.Render("~/plugins/footable")
@Scripts.Render("~/plugins/dataPicker")
@Scripts.Render("~/plugins/dataPickerLocal")

<script type="text/javascript">
    var uiLanguage = @Html.Raw("'" + (ViewBag.Contexto == null ? "en" : ViewBag.Contexto.CurrentUICulture) + "'");

    $('.input-daterange').datepicker({
        autoclose: true,
        clearBtn: true,
        todayHighlight: true,
        language: uiLanguage
    });
        
</script>